Source: java-common
Section: misc
Priority: optional
Maintainer: Ola Lundqvist <opal@debian.org>
Build-Depends: debhelper (>> 3.0.0), jade, jadetex, tetex-bin, debiandoc-sgml, sp, lynx, docbook-xml-simple, dpsyco-devel
Standards-Version: 3.5.2

Package: java-common
Architecture: all
Depends: 
Description: Base of all Java packages
 This package is mandatory for any Java package. It
 includes the Debian Java policy.

Package: java-virtual-machine-dummy
Architecture: all
Depends: java-common
Provides: java-virtual-machine
Description: Dummy Java virtual machine
 This package is only to respect the dependencies rules.
 Install it only if you have a real Java virtual machine.

Package: java-compiler-dummy
Architecture: all
Depends: java-common
Provides: java-compiler
Description: Dummy Java compiler
 This package is only to respect the dependencies rules.
 Install it only if you have a real Java compiler.
